# Puerto donde correrá el servidor local
PORT=3000

# URL de conexión de PostgreSQL (Supabase o Neon.tech)
# Ejemplo: postgresql://usuario:contraseña@servidor.neon.tech/nombre_bd?sslmode=require
DATABASE_URL=tu_cadena_de_conexion_aqui

# Clave secreta para firmar los tokens JWT (puedes usar cualquier frase secreta larga y segura)
JWT_SECRET=tu_frase_secreta_super_segura_aqui
